@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-SemiBold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}