*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
@font-face {
  font-family: 'titillium-regular';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Regular.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-bold';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Bold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-semibold';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-SemiBold.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'titillium-light';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype'),
  url('../fonts/TitilliumWeb-Light.svg#CreativeBlockBBBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix() {
  overflow: hidden;
  zoom:1;
  /* & - знак використовується для застосування
  псевдокласів таких як :hover, :first-child, :last-child та інших; */
  &:before{
    content:"";
    display:table;
  }
  &:after{
    content:"";
    display:table;
    clear:both;

  }
}
@color_grey: #aaaaaa;
@color_white: #ffffff;
.font-basic(@_font: titillium-regular, @_size: 16px, @_weight: normal, @_color: @color_white, @_upper: none, @_align: none, @_line: 1){
  font-family: @_font;
  font-size: @_size;
  font-weight: @_weight;
  color: @_color;
  text-transform: @_upper;
  text-align: @_align;
  line-height: @_line;
}

.wrapper {
    width: 1100px;
    margin: 0 auto;
}
.mix {
 /* width: 1280px;
  margin: 0 auto;*/
}
@custom_color: #ffffff;
.men{
  font-family: titillium web Regular;
  font-size: 15px;
  color: #f1edf3;
}
.h2_t (@teg: 42px){
  margin-top: 100px;
  font-size: @teg;
  font-family: titillium web bold;
  text-align: center;
}
.p_t(@siz:18px){
  font-family: titillium web Regular;
  text-align: center;
  font-size: @siz;
}
.li_none{
  float: left;
  list-style-type: none;
}
@font_fam: titillium web Regular;
body {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

.border_1(@radius: 7px, @ground: #643a79, @klas: none){
  border-radius: @radius;
  background: @ground;
  border: @klas;
}
.line {
    margin-left: 512px;
    }
.bg1 {
  .clearfix();
  background: #87509c;
        .mix;
    .header {
        margin-top: 56px;
        ul {
          .font-basic(@_upper: uppercase);
          float: right;
          margin: 0px;
          
      }
      li {
          .li_none;
          padding: 10px;
          
      }
        a {
          text-decoration: none;
          .font-basic();
          &:hover{
            .border_1();
          }
      }
    }
     .main {
            margin-top: 60px;
            margin-bottom: 80px;
    .font-basic(@_font: titillium-bold,@_size: 42px, @_line: 1.4, @_align:center, @_weight: bold);
        .position{
           text-align: center;
           margin: 60px 0;
        a {
            text-decoration: none;
            font-size: 18px;
            font-family: titillium web semibold;
            color: @custom_color;
            background-color: #eb7d4b;
            border-radius: 7px;
            padding: 10px;
           }
        }
       
    }
}
.bg2 {
  .clearfix();
  background: #17c2a4;
        padding: 60px 0 80px 0;
    .header {
     h2 {
        .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase);
      } 
       p {
            .font-basic(@_font: titillium-regular, @_align:center, @_size: 18px);
            margin: 26px 243px;
            
          }
    }
    .main {
        .flag {
            h4 {
                font-size: 24px;
                font-family: titillium web bold;
                color: @custom_color;
            }
            p {
                font-size: 16px;
                font-family: titillium web Light;
                color: #eaf7f4;
            }
        }
        .flag {
        float: left;
        width: 260px;
        text-align: center;
                }
    }
    .footer {
        margin-bottom: 100px;
             }
}
.bg3 {
  .clearfix();
  background: #e7f1f8;
         padding: 120px 0 80px;
    .header {
      h2 {
        .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #3c4761);
          }
        p {
           margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
        }
              }
    .main {
      .psy-img{
        width: 200px;
        height: 200px;
        .border_1(100px, #aaaaaa, 1px solid black)

      }
        .round {
            float: left;
            text-align: center;
            margin: 29px;
            width: 212px;
            h4 {
                margin: 20px 0 10px;
        .font-basic(@_font: titillium-bold, @_align:center, @_size: 18px, @_color: #000,@_upper: uppercase);
            }
            h5 {
                font-family: @font_fam;
                font-size: 16px;
                color: #55c2e9;
                margin: 0px auto;
            }
            p {
                margin: 10px 0;
        .font-basic(@_font: titillium-light, @_align:center, @_size: 16x, @_color: #3c4761);
            }
        }
    }
    .footer {
        margin-bottom: 100px;
              }
}
.bg4 {
  .clearfix();
   background: #fff;
  padding: 120px 0 80px;
    .header {
      h2 {
        .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
          }
        p {
            margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
        }
    }
    .main {
          .colo {
              float: left;
              margin: 27px;
              width: 221px;
              text-align: center;
            h5 {
                margin-top: 25px;
        .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000, @_upper: uppercase);
            }
        }
    }
}
.bg5 {
  .clearfix();
   background: #ffdd99;
  padding: 120px 0 80px;
    .header {
            h2 {
                .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
                }
              p {
                  margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
                  }
             ul {
              margin-left: 338px;
              }
             .all {
              background-color: @custom_color;
              border-radius: 5px;
              margin: 8px;
              width: 90px;
              text-align: center;
                }
             .next {
              background-color: #ebc985;
              border-radius: 5px;
              margin: 8px;
              width: 90px;
              text-align: center;
                }
             li {
              .li_none;
              padding: 10px;
              font-family: @font_fam;
              font-size: 15px;
              }
              a {
                text-decoration: none;
                color: #393939;
                font-family: @font_fam;
                font-size: 15px;
                  }
              }
    .main {
        .mon {
            margin-top: 41px;
            h5 {
                text-align: center;
                font-family: @font_fam;
                font-size: 18px;
                color: #393939;
            }
        }
        .mon1 {
            float: left;
            margin: 5px;
        }
        .mon2 {
            float: right;
            margin: 5px;
        }
        .mon3 {
            float: right;
            margin: 5px;
            margin-top: 10px;
        }
    }
    .footer {
        margin-bottom: 100px;
        a {
            text-decoration: none;
            font-size: 18px;
            font-family: titillium web semibold;
            color: @custom_color;
        }
        p {
            background-color: #17c2a4;
            border-radius: 4px;
            padding: 21px;
            width: 287px;
            text-align: center;
            margin: 33px 393px;
            float: left;
        }
    }
}
.bg6 {
  .clearfix();
  background: #d74680;
  padding: 120px 0 80px;
    .header {
          h2 {
                  .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase, @_color: #000);
                }
        p {
            margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px, @_color: #000);
        }
    }
    .main {
        margin-bottom: 100px;
        .people {
            float: left;
            width: 534px;
            margin: 75px auto;
           .psy-img{
              width: 100px;
              height: 100px;
              float: left;
              .border_1(100px, #aaaaaa, 1px solid black)
                }
            .text {
                float: left;
                margin-left: 42px;
                p {
                    margin: 0;
        .font-basic(@_font: titillium-regular, @_align:left, @_size: 18px, @_line: 1.2);
                }
                h5 {
                    color: @custom_color;
                    font-size: 24px;
                    margin: 15px 0px 4px;
                }
                a {
                    color: @custom_color;
                    font-size: 18px;
                    text-decoration: none;
                }
            }
        }
    }
}
.bg7 {
  .clearfix();
  background: #3c5499;
  padding: 120px 0 80px;
    .header {
        h2 {
           .font-basic(@_font: titillium-bold,@_size: 40px, @_align:center, @_weight: bold, @_upper: uppercase);
            }
          p {
               margin-top: 50px;
    .font-basic(@_font: titillium-semibold, @_align:center, @_size: 18px);
            }
             }
    .main {
        .dan {
            input {
                width: 380px;
                height: 27px;
                background: #273a71;
                margin: 26px 0px 37px 94px;
                border-radius: 4px;
            }
        }
        textarea {
            width: 858px;
            height: 196px;
            background: #273a71;
            border-radius: 4px;
            margin-left: 96px;
        }
        button {
            width: 290px;
            height: 68px;
            background: #30bae7;
            font-weight: 700;
            color: white;
            border-radius: 3px;
            margin: 40px 0px 135px 376px;
        }
    }
}
.bg8 {
  .clearfix();
  background: #344b8e;
        .mix;
    ul {
        margin: 46px 80px;
       li {
            .li_none;
            font-family: @font_fam;
            font-size: 24px;
            padding: 18px;
          }
        .tw {
            a {
              color: #30bae7;
            }
    }
    a {
        text-decoration: none;
        color: @custom_color;
    }
  }
}
